/* Text color change */
.change-color {
  animation: changeColor 3s 1s normal forwards;
}
@keyframes changeColor {
  0% {
    color: #bdbdbd;
  }

  14.29% {
    color: #4caf50;
  }

  28.57% {
    color: #bdbdbd;
  }

  42.89% {
    color: #4caf50;
  }

  57.14% {
    color: #bdbdbd;
  }

  71.43% {
    color: #4caf50;
  }

  85.71% {
    color: #bdbdbd;
  }

  100% {
    color: #4caf50;
  }
}

/* Header fade in text */
.fade-in-text {
  animation: fadeIn 0.7s;
  -webkit-animation: fadeIn 0.7s;
  -moz-animation: fadeIn 0.7s;
  -o-animation: fadeIn 0.7s;
  -ms-animation: fadeIn 0.7s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
