@keyframes strikeThrough {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  /* Start from 50% - therefore first half of animation is the animation delay */
  50% {
    opacity: 1;
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fontShrink {
  0% {
    font-size: 1.6rem;
  }

  100% {
    font-size: 0.9rem;
  }
}

@keyframes focusBackground {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes focusBackgroundMove {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(calc(100% + 2.5px));
  }
}

@keyframes fontGrow {
  0% {
    font-size: 0.9rem;
  }

  100% {
    font-size: 1.6rem;
  }
}

@keyframes buttonsAppear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.strike-through-animate-stage {
  position: relative;
  display: inline-block;
  &::after {
    content: "";
    position: absolute;
    left: 0%;
    bottom: calc(50% - 1.5px);
    width: 100%;
    height: 1.5px;
    background: #b4e5a2;
    animation: strikeThrough 1.5s normal;
  }
}

.strike-through {
  position: relative;
  display: inline-block;
  &::after {
    content: "";
    position: absolute;
    left: 0%;
    bottom: calc(50% - 1.5px);
    width: 100%;
    height: 1.5px;
    background: #b4e5a2;
  }
}

.focus-background-move {
  position: relative;
  display: inline-block;
  &::after {
    content: "";
    position: absolute;
    left: calc(50% - 40%);
    bottom: 0;
    width: 80%;
    height: 44px;
    background: #f1edfd;
    border-radius: 25px;
    z-index: -1;
    animation: focusBackgroundMove 1s 2s forwards;
  }
}

.font-shrink {
  font-size: 1.6rem;
  animation: fontShrink 1s 2s forwards;
}

.font-grow {
  font-size: 0.9rem;
  animation: fontGrow 1s 2s forwards;
}

.buttons-appear {
  opacity: 0;
  animation: buttonsAppear 0.5s 3.5s forwards;
}
